In [12]:
import pandas as pd

In [13]:
data = pd.read_csv('/Users/23amrutad/Downloads/NH_LEAD.csv')

In [14]:
print(data)

      NHDES Facility ID              Facility Name           Address  \
0             SCH-22960  ACWORTH ELEMENTARY SCHOOL  TURKEY SHOOT RD.
1             SCH-22960  ACWORTH ELEMENTARY SCHOOL  TURKEY SHOOT RD.
2             SCH-22960  ACWORTH ELEMENTARY SCHOOL  TURKEY SHOOT RD.
3             SCH-22960  ACWORTH ELEMENTARY SCHOOL  TURKEY SHOOT RD.
4             SCH-22960  ACWORTH ELEMENTARY SCHOOL  TURKEY SHOOT RD.
...                 ...                        ...               ...
23250         SCH-22420           BREWSTER ACADEMY    80 ACADEMY DR.
23251         SCH-22420           BREWSTER ACADEMY    80 ACADEMY DR.
23252         SCH-22420           BREWSTER ACADEMY    80 ACADEMY DR.
23253         SCH-22420           BREWSTER ACADEMY    80 ACADEMY DR.
23254         SCH-22420           BREWSTER ACADEMY    80 ACADEMY DR.

            Town    County State  Sample ID        Date      Time  \
0        ACWORTH  SULLIVAN    NH  195409.01   5/13/2019  10:30 PM
1        ACWORTH  SULLIVAN    NH  195409.02   5/13/2019  10:35 PM
2        ACWORTH  SULLIVAN    NH  195409.03   5/13/2019  10:40 PM
3        ACWORTH  SULLIVAN    NH  195409.04   5/13/2019  10:45 PM
4        ACWORTH  SULLIVAN    NH  195409.05   5/13/2019  10:45 PM
...          ...       ...   ...        ...         ...       ...
23250  WOLFEBORO   CARROLL    NH  189425.07  11/19/2018   7:10 AM
23251  WOLFEBORO   CARROLL    NH  189425.08  11/19/2018   7:12 AM
23252  WOLFEBORO   CARROLL    NH  189425.09  11/19/2018   7:15 AM
23253  WOLFEBORO   CARROLL    NH   189425.1  11/19/2018   7:23 AM
23254  WOLFEBORO   CARROLL    NH  189425.11  11/19/2018   7:20 AM

                                Sample Location Comments Parameter/Analyte  \
0                                 001  KITCHEN WASH SINK              LEAD
1                           003  ROOM 3 SINK (GRADE 3-4)              LEAD
2                         004  ROOM 2 SINK (MIDDLE ROOM)              LEAD
3                          005  VESTIBULE B SINK ON LEFT              LEAD
4                         006  VESTIBULE B SINK ON RIGHT              LEAD
...                                                  ...               ...
23250  LIBRARY (CHILDRENS AREA) HALSEY TAYLER HYRDOBO...              LEAD
23251             ADMISSIONS HOT WATER DISPENSER ON SINK              LEAD
23252               FRESHMAN BUBBLE (STAINLESS STEEL WF)              LEAD
23253  LOWER LEVEL HALLWAY OUTSIDE BATHROOMS PARKING ...              LEAD
23254  HALLWAY OUTSIDE BATHROOMS ON GROUND FLOOR (STA...              LEAD

       Result       Units Result Comments
0      5.0000  UG/L (PPB)             NaN
1      4.4000  UG/L (PPB)             NaN
2      4.5000  UG/L (PPB)             NaN
3          ND  UG/L (PPB)             NaN
4          ND  UG/L (PPB)             NaN
...       ...         ...             ...
23250      ND  UG/L (PPB)             NaN
23251      ND  UG/L (PPB)             NaN
23252      ND  UG/L (PPB)             NaN
23253      ND  UG/L (PPB)             NaN
23254      ND  UG/L (PPB)             NaN

[23255 rows x 14 columns]

In [15]:
names = []

In [17]:
for ind in data.index:
    address = data["Address"][ind] + "    " + data["Town"][ind] + "     " + data["State"][ind]
    names.append(address)

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [6]:
names = list(set(names))

In [9]:
f = open('/Users/23amrutad/Downloads/addresses.csv', 'w')

In [10]:
for name in names:
    f.write(name + "\n")